.metadata/
bin/
tmp/
.settings/
.recommenders/
.apt_generated/
.externalToolBuilders/
.sts4-cache/
target/
.loadpath
.recommenders
.factorypath
.target
.tern-project
.texlipse
.springBeans
.project
.classpath
.apt_generated
*.class
*.tmp
*.bak
*.swp
*~.nib
*.launch
local.properties